<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head/_head', { page: 'Edit Profile' }) %>

    <body>
        <main>
            <div id="acccount-box">
                <h3>Make changes to your account</h3>
                <div class="account-form">
                    <form action="/<%= user.id %>?_method=PUT" method="POST"> 
                        <div>
                            <p><%= user.id %></p>
                            <label for="username">username</label>
                            <div class="input-field">
                                <input type="text" name="username" id="username" value="<%= user.username %>" />
                            </div>
                        </div>
                        <div>
                            <label for="email">email</label>
                            <div class="input-field">
                                <input type="email" name="email" id="email"
                                value="<%= user.email %>" />
                            </div>
                        </div>
                        <div>
                            <label for="password">password</label>
                            <div class="input-field">
                                <input type="password" name="password" id="password" />
                            </div>
                        </div>
                        <div>
                            <label for="passwordTwo">confirm password</label>
                            <div class="input-field">
                                <input name="passwordTwo" type="password" id="passwordTwo" />
                            </div>
                        </div>
                        <div>
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                    <form action="/<%= user.id %>_method=DELETE" method="POST">
                        <button type="submit">Delete Profile</button>
                    </form> 
                </div>
            </div>
        </main>
    </body>

</html>