<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head/_head', { page: 'Episode' }) %>

    <body>
        <%- include('../partials/navbar/_navbar') %>
        <main>
            <div>
                <a href="/shows/<%=episode.parentShow._id%>"><h1><%=episode.parentShow.name%></h1></a>
                <h2><%=episode.name%></h2>
                <img src="<%= episode.image %>" alt="" />
                <p><%=episode.description%></p>
                <p>Runtime: <%=episode.runtime%> minutes</p>
                <form action="/users/<%= user.id %>?_method=PUT" method="POST">
                    <input hidden name="name" value="<%= episode._id %>" />
                    <button type="submit">Like this Episode</button>
                </form>
            </div>
        </main>
    </body>

</html>