<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head/_head', { page: user.username }) %>

    <body>
        <main>
            <div>
                <h1>Homepage</h1>
                <h2>Username: <%= user.username %></h2>
               
                <p>DOB: <%= user.dob %></p>
                <p>Email: <%= user.email %></p>
            </div>
            <div>
                <a href="/shows/<%= user.showQueue._id %>"><h1>The Show Name is: <%= user.showQueue.name %></h1></a>
                <h2><%= user.showQueue.name%></h2>
                <img src="<%= user.showQueue.image %>" alt="" />
                <p><%= user.showQueue.description %></p>
            </div>
        </main>
    </body>

</html>