<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head/_head', { page: user.username }) %>

    <body>
        <main>
            <div>
                <a href="/shows/<%=episode.parentShow._id%>"><h1>The Show Name is: <%=episode.parentShow.name%></h1></a>
                <h2><%=episode.name%></h2>
                <img src="<%= episode.image %>" alt="" />
                <p><%=episode.description%></p>
                <p>Runtime: <%=episode.runtime%> minutes</p>
            </div>
        </main>
    </body>

</html>