<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head/_head', { page: user.username }) %>

    <body>
        <%- include('../partials/navbar/_navbar') %>
        <main>
            <div>
                <h1>Homepage</h1>
                <h2>Username: <%= user.username %></h2>
               
                <p>DOB: <%= user.dob %></p>
                <p>Email: <%= user.email %></p>
            </div>
            <div>
                <h2>Queue:</h2>
                <div class="queue-container">
                    <% for (let i = 0; i < user.showQueue.length; i++) { %>
                        <% const queue = user.showQueue[i] %>
                        <div class="queue-box">
                        <a href="/shows/<%=queue._id%>">
                            <img class="thumbnail" src="<%=queue.image%>">
                            <p><%=queue.name%></p>
                        </a>
                        <form action="/users/61087e63a52d95573687ff93?_method=DELETE" method="POST">
                            <input hidden name="name" value="<%= queue._id %> " />
                            <button type="submit">Remove from queue</button>
                        
                        </form>
                        </div>
                    <%}%>
                </div>
            </div>
        </main>
    </body>

</html>