<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head/_head', { page: 'Shows' }) %> 
<body>
    <%- include('../partials/navbar/_navbar') %>
    <main>
        <div>
            <% for (let idx = 0; idx < shows.length; idx++) { %> <% const show = shows[idx] %>
                <img class="thumbnail" src="<%= show.image %>" alt="" />
                <a href="/shows/<%=show.id%>">
                    <p><%=show.name%></p>
                </a>
            <% } %> 
        </div>
    </main>
</body>
</html>