<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head/_head', { page: show.name }) %> 
    
<body>
    <%- include('../partials/navbar/_navbar') %>
    <main>
        <div>
            <a href="/shows/<%= show._id %>"><h1></h1></a>
            <img src="<%= show.image %>" alt="" />
            <form action="/users/61087e63a52d95573687ff93?_method=PUT" method="POST">
                <!-- <input type="button" name="showQueue" value="Add to queue"/> -->
                <input hidden name="name" value="<%= show._id %>" />
                <button type="submit">Add to queue</button>
            </form>
        </div>
        <div>
            <% for (let idx=0; idx < episodes.length; idx++) { %>
                <% const episode=episodes[idx] %>
                    <img class="thumbnail" src="<%= episode.image %>" alt="" />
                    <a href="/episodes/<%=episode.id%>">
                        <h2><%=episode.name%></h2>
                    </a>
                    
                        <p><%=episode.description%></p>
                    <% } %>
        </div>
    </main>
</body>
</html>
